<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>192.168.0.10:4560</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"walki-prod"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stash"/>
    </root>
</configuration>
